{% set date_fmt = 'Do [of] MMM YYYY [at] HH:mm' %}
{% set row = lenient_wrap(leave, default_value="") %}

<section>
    <form id="leaveForm" method="post" action="/frames/leave_form/{{ row_id }}">
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Date</label>
                <div class="input-group">
                    <input class="form-control flatpickr"
                           type="text"
                           name="start"
                           data-date-type="date"
                           data-set-default
                           data-date-value="{{ row.start }}"
                           required/>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label">Is this a half day?</label>
                <div class="input-group">
                    <input class="form-check-input mt-2" type="checkbox" name="half-day" {{ "checked" if row.duration == 0.5 else "" }} />
                </div>
            </div>

            <div class="col-md-3">
                <label class="form-label">Is this a public holiday?</label>
                <div class="input-group">
                    <input class="form-check-input mt-2" type="checkbox" name="public-holiday" {{ "checked" if row.public_holiday else "" }} />
                </div>
            </div>

            <div class="mt-3">
                <label class="form-label">Note</label>
                <textarea class="form-control" name="note" rows="5">{{ row.note }}</textarea>
            </div>
            <input type="hidden" name="leave_type" value="{{ leave_type }}" />
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </div>
    </form>
    <div class="d-flex flex-row justify-content-end">
        <button id="submit" type="button" class="btn btn-primary">Save changes</button>
        {% if leave %}<button id="delete" class="btn btn-danger ms-3" data-leave-id="{{ row_id }}">Delete</button>{% endif %}
    </div>
</section>

<script>
    (function() {
        const frame = document.currentScript.parentNode;

        frame.querySelector("#submit").addEventListener('click', async e => {
            const form = frame.querySelector("form");

            let jsonRequest = {};
            let formData = new FormData(form);

            formData.forEach((value, key) => {
                if (!jsonRequest.hasOwnProperty(key)) {
                    jsonRequest[key] = value;
                    return;
                }

                if (!Array.isArray(jsonRequest[key])) {
                    jsonRequest[key] = [jsonRequest[key]];
                }

                jsonRequest[key].push(value);
            });

            jsonRequest.duration = 1.0;
            if (jsonRequest['half-day']) {
                jsonRequest.duration = 0.5;
            }

            // Bit of a hack but set the time for leave to 12pm
            // Firefox sets the tz to UTC so without this the leave will be shifted to 11pm the previous day
            jsonRequest.start += " 12:00:00";

            let response = await fetch("/frames/leave_form/{{ row_id or '' }}", {
                method: 'POST',
                body: JSON.stringify(jsonRequest),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                frame.emit("time:changed");
            } else {
                flash("Failed to add time record", "danger");
                console.error(`Failed to add time record: ${await response.text()}`)
            }
        });

        frame.querySelector("#delete")?.addEventListener("click", async e => {
            const id = e.target.getAttribute('data-leave-id');
            let response = await fetch(`/leave/delete/${id}`, {
                method: 'delete'
            });

            if (response.status == 200) {
                frame.emit("time:changed");
            } else {
                flash("Failed to delete leave record", "danger");
                console.error(`Failed to delete leave record ${id}: ${await response.text()}`)
            }
        });
    })();
</script>
