{% set date_fmt = 'Do [of] MMM YYYY [at] HH:mm' %}
{% if not time_entries %}
    <p>
        No time entries found
    </p>
{% else %}
    <section id="records">
        <h4>Time Entries</h4>
        <div class="accordion">
            {% for time in time_entries %}
                {% set start = arrow.get(time.start).to(tz) %}
                {% set end = arrow.get(time.end).to(tz) if time.end else '' %}
                {% set range_end = end or arrow.now().to(tz) %}
                {% set duration = range_end.timestamp() | int - start.timestamp() | int %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accordion-{{ time.id }}-header">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordion-{{ time.id }}-body"
                                aria-controls="{{ time.id }}-accordion-body">
                                <div class="d-flex justify-content-between" style="width: 95%">
                                    <p>
                                        <span class="fw-bold">
                                            {{ start.format("Do [of] MMM") }}
                                        </span>
                                        <span>
                                            {{ start.format("HH:mm") }} - {{ end.format("HH:mm") if end else 'Still clocked in' }}
                                        </span>
                                    </p>
                                    <span style="height: 20px" class="badge bg-secondary">{{ start.humanize(range_end, only_distance=True, granularity=["hour", "minute"]) }}</span>
                                </div>
                        </button>
                    </h2>
                    <div id="accordion-{{ time.id }}-body"
                         class="accordion-collapse collapse"
                         aria-labelledby="accordion-{{ time.id }}-header"
                         data-parent="#accordion-{{ time.id }}">
                        <div class="container mt-2 mb-2">
                            <dynamic-frame :url="/frames/time_form/{{ time.id }}" :execute-scripts="true"></dynamic-frame>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
<script>
    (function() {
        const frame = document.currentScript.parentNode;

        // If any time data changes then update ourselves
        window.addEventListener("time:changed", e => frame.refresh());
    })();
</script>
