<section id="stats" class="row">
    <div class="col-md-4 mb-2">
        <div class="card border-dark">
            <div class="card-body">
                <h4 class="card-title">Time Logged</h4>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="card-subtitle mb-1 mt-1 text-muted">Today</h6>
                        <p class="card-text fw-bold fs-4">{{ stats.logged_today }}</p>
                    </div>
                    <div>
                        <h6 class="card-subtitle mb-1 mt-1 text-muted">This Week</h6>
                        <p class="card-text fw-bold fs-4">{{ stats.logged_this_week }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card border-dark">
            <div class="card-body">
                <h4 class="card-title">Time Left</h4>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="card-subtitle mb-1 mt-1 text-muted">Today</h6>
                        <p class="card-text fw-bold fs-4">{{ stats.remaining_today }}</p>
                    </div>
                    <div>
                        <h6 class="card-subtitle mb-1 mt-1 text-muted">This Week</h6>
                        <p class="card-text fw-bold fs-4">{{ stats.remaining_this_week }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card border-dark" style="height: 100%">
            <div class="card-body">
                <h4 class="card-title">Overtime</h4>
                <h6 class="card-subtitle mb-1 mt-1 text-muted">&nbsp;</h6>
                <p class="card-text fw-bold fs-4">{{ stats.overtime }}</p>
            </div>
        </div>
    </div>
</section>
<script>
    (function() {
        const frame = document.currentScript.parentNode;

        // NOTE: We need this initialised to check to avoid adding the event listener
        // and interval each time the page refreshes
        // It's a bit hacky, would be good to have a better way to do this
        // Maybe `runOnce` and `run` functions?
        if (!frame.initialised) {
            // If any time data changes then update ourselves
            window.addEventListener("time:changed", e => frame.refresh());

            // TODO: Add this functionality to binderjs
            // TODO: Only do this while clocked in
            window.setInterval(() => {
                if (!document.hidden) frame.refresh();
            }, 30000);

            frame.initialised = true;
        }
    })();
</script>
