{#
This is the wrapper for the settings pages
It adds a sidebar to the page to navigate between the various settings pages

The settings pages extend this and specify their content in a `content` block
#}
{% extends "layouts/wrapper.html.j2" %}

{% block sidebar %}
    <nav class="nav nav-pills flex-lg-column">
        <a class="nav-link{% if page == 'upcoming' %} active{% endif %}"
            aria-current="page"
            href="/holidays">Upcoming</a>
        <a class="nav-link{% if page == 'history' %} active{% endif %}"
            href="/holidays/history">History</a>
    </nav>
{% endblock sidebar %}
