{#
This is the wrapper for the settings pages
It adds a sidebar to the page to navigate between the various settings pages

The settings pages extend this and specify their content in a `content` block
#}
{% extends "layouts/wrapper.html.j2" %}

{% block sidebar %}
    <nav class="nav nav-pills flex-lg-column">
        <a class="nav-link{% if page == 'general' %} active{% endif %}"
            aria-current="page"
            href="/settings/general">General</a>
        <a class="nav-link{% if page == 'account' %} active{% endif %}"
            href="/settings/account">Account</a>

        {% if is_admin %}
            <a class="nav-link{% if page == 'admin' %} active{% endif %}"
            href="/settings/admin">Admin</a>
        {% endif %}
    </nav>
{% endblock sidebar %}

<dynamic-frame-router>
    {# Sidebar specifies target node #}
    <nav-list :target="#main-content">
        {# Clicking these will only update the target node via DynamicFrame #}
        {# Active element is worked out from the current URL #}
        <nav-link href="/settings/general">General</nav-link>
        <nav-link href="/settings/account">Account</nav-link>
        <nav-link href="/settings/admin">Admin</nav-link>
    </nav-list>
    
    <div id="main-content">
        {# Default server side rendering #}
        {# Is replaced dynamically client side in response to events #}
        {% block content %}
            {% include 'pages/settings/' + page + '.html.j2' %}
        {% endblock content %}
    </div>
</dynamic-frame-router>
