{#
This is the wrapper for the settings pages
It adds a sidebar to the page to navigate between the various settings pages

The settings pages extend this and specify their content in a `content` block
#}
{% extends "layouts/wrapper.html.j2" %}

{% block sidebar %}
    <nav class="nav nav-pills flex-lg-column">
        <a class="nav-link{% if page == 'general' %} active{% endif %}"
            aria-current="page"
            href="/settings/general">General</a>
        <a class="nav-link{% if page == 'account' %} active{% endif %}"
            href="/settings/account">Account</a>

        {% if is_admin %}
            <a class="nav-link{% if page == 'admin' %} active{% endif %}"
            href="/settings/admin">Admin</a>
        {% endif %}
    </nav>
{% endblock sidebar %}
