<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Dan Stewart" />

        <title>{{ page_title or 'Time Tracker' }}</title>

        <!-- From https://favicon.io/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png" />

        <!-- Bootstrap 5 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <!-- Flatpickr CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.11/dist/flatpickr.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.11/dist/flatpickr.min.js"></script>

        <!-- Our CSS and js -->
        <link rel="stylesheet" href="/static/css/default.css" />
        <script type="module" defer src="/static/js/main.js"></script>
    </head>

    <body style="padding-bottom: 500px;">
        <div class="container mt-3">
            <div id="header" class="d-flex flex-row justify-content-between align-items-center mb-3">
                <h1><a href="/">Time Tracker</a></h1>
                <div>
                    <a href="https://github.com/danstewart/time-tracker" class="icon" style="margin-right: 15px">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="/settings" class="icon">
                        <i class="bi bi-gear-wide-connected"></i>
                    </a>
                </div>
            </div>
            {% block content %}{% endblock content %}
        </div>
    </body>

    <!-- Setting values for the JS to read -->
    <span class="d-none" id="timezone">{{ settings.timezone }}</span>
</html>
