#!/usr/bin/env bash

# Load in our .env
# direnv supports loading .env files but it's not supported on older versions
# eg. on ubuntu 20.04

if [[ -f .env ]]; then
    set -a
    . .env
    set +a
fi

# Add our tools dir to the PATH
PATH="$PATH:$PWD/tools/"
