[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
arrow = "~=1.2.2"
pony = "~=0.7.16"
click = "~=8.1.0"
Flask = "~=2.1.0"
gunicorn = "~=20.1.0"
gevent = "~=21.12.0"
argon2-cffi = "~=21.3.0"
redis = "~=4.3.1"
sendgrid = "~=6.9.7"

[dev-packages]
pytest = "~=7.1.1"
black = "~=22.3.0"
flake8 = "~=4.0.1"
devtools = {extras = ["pygments"], version = "~=0.8.0"}
pony-stubs = "~=0.5.2"
djlint = "==1.17.2"
