[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
arrow = "*"
pony = "*"
click = "*"
Flask = "*"
gunicorn = "*"
gevent = "*"
argon2-cffi = "*"
redis = "*"
sendgrid = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
devtools = {extras = ["pygments"], version = "*"}
pony-stubs = "*"
djlint = "*"
