[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
arrow = "*"
click = "*"
Flask = ">2,<3"
gunicorn = "*"
gevent = "*"
argon2-cffi = "*"
redis = "*"
sendgrid = "*"
alembic = "*"
flask-migrate = "*"
sqlalchemy = ">2,<3"
flask-sqlalchemy = "*"
holidays = "*"
rollbar = "*"

[dev-packages]
pytest = "*"
devtools = {extras = ["pygments"], version = "*"}
watchdog = "*"
pytest-playwright = "*"
coverage = "*"

[local-packages]
black = "*"
djlint = "*"
ruff = "*"
