<form method="post" action="/settings/admin">
    <div class="mb-3">
        <div class="mb-2">
            <label class="form-label">What's New</label>
            <input type="text" class="form-control mb-2" name="whats_new_title" placeholder="Title" />
            <textarea class="form-control" rows="5" name="whats_new_content" placeholder="Content"></textarea>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
