<div class="d-flex justify-content-between">
    {# Breadcrumbs #}
    <h3>Teams</h3>

    <div>
        <a role="button" class="btn btn-primary" href="/settings/teams/add">Add Team</a>
        <a role="button" class="btn btn-secondary" href="/settings/teams/invite">Invite User</a>
    </div>
</div>

{% set teams = ["tour-amigo", "issuebear"] %}
{% for team in teams %}
    <div>
        <a href="/settings/teams/{{ team }}">{{ team }}</a>
    </div>
{% endfor %}
