{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <div class="mt-5">
        <div class="mb-5">
            <h3>About</h3>
            <p>
                LogMyTime is a simple and <a href="https://github.com/danstewart/log-my-time">open source</a> web app for keeping track of your working hours and overtime.<br />
            </p>
        </div>

        <div class="mb-5">
            <h3>Features</h3>
            <ul>
                <li>Track time worked</li>
                <li>Track overtime across multiple weeks</li>
                <li>Track annual leave and sick days</li>
            </ul>
        </div>

        <div class="mb-5">
            <h3>Demo</h3>
            <img src="https://user-images.githubusercontent.com/10670565/168468584-cb9182ad-d82e-4fe5-aa96-c937a826611c.gif" />
        </div>
    </div>

    <style>
        p, li {
            font-size: 18px;
        }
    </style>
{% endblock content %}
