{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <div class="row">
        <div class="col-lg-2 mt-1 pe-5 pb-3">
            <nav class="nav nav-pills flex-lg-column">
                <a class="nav-link{% if page == 'upcoming' %} active{% endif %}"
                   aria-current="page"
                   href="/holidays">Upcoming</a>
                <a class="nav-link{% if page == 'history' %} active{% endif %}"
                   href="/holidays/history">History</a>
            </nav>
        </div>
        <div class="col">{% include "partials/holidays/" + page + ".html.j2" %}</div>
    </div>
{% endblock content %}
