{#
This is the wrapper for the settings pages
It adds a sidebar to the page to navigate between the various settings pages

The settings pages extend this and specify their content in a `content` block
#}
{% extends "layouts/wrapper.html.j2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-2 mt-1 pe-5 pb-3">
            <dynamic-frame-router :target="#main-content" :caching>
                <nav class="nav nav-pills flex-lg-column">
                    <a class="nav-link{% if page == 'upcoming' %} active{% endif %}"
                        aria-current="page"
                        data-active-for="upcoming"
                        href="/holidays/upcoming">Upcoming</a>
                    <a class="nav-link{% if page == 'history' %} active{% endif %}"
                        data-active-for="history"
                        href="/holidays/history">History</a>
                </nav>
            </dynamic-frame-router>
        </div>

        <div class="col">
            <!-- We don't load on init here so we can do the initial load server side using jinjas include -->
            <dynamic-frame id="main-content" :url="/holidays/{{ page }}" :param-block="frame" :render-on-init="0">
                <!-- We wrap this in a block as that allows us to load just this section via /settings/general?block=frame -->
                {% block frame %}
                    {% include "frames/holidays/" + page + ".html.j2" %}
                {% endblock frame %}
            </dynamic-frame>
        </div>
    </div>
{% endblock content %}
