{% extends 'layouts/wrapper.html.j2' %}

{% block content %}
    <script type="module" defer src="/static/js/home.js"></script>

    {% set date_fmt = 'Do [of] MMM YYYY [at] HH:mm' %}
    {% set clocked_in = time_entries.first() and not time_entries.first().end %}

    <!-- Header Stats -->
    <section id="stats" class="row mb-5">
        <div class="col-md-4 mb-2">
            <div class="card border-dark">
                <div class="card-body">
                    <h4 class="card-title">Time Logged</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This Week</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.get('logged_this_week', 0) }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card border-dark">
                <div class="card-body">
                    <h4 class="card-title">Time Left</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Today</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.get('hours_left_today', 'N/A') }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card border-dark">
                <div class="card-body">
                    <h4 class="card-title">Overtime</h4>
                    <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.get('overtime', 0) }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clock in/out Form -->
    <section id="main">
        <form method="post" action="/time/add" data-controller="form-switcher">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Time</label>
                    <input class="form-control" type="text" name="time" id="form-time" type="time" required>
                </div>
            </div>

            {% if clocked_in %}
                <button class="btn btn-primary" name="clock" value="out" type="submit">Clock Out</button>
            {% else %}
                <button class="btn btn-primary" name="clock" value="in" type="submit">Clock In</button>
            {% endif %}

            <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#form-modal">Add Manually</button>
        </form>
    </section>

    <hr />

    <!-- Add/Edit Modal -->

    <!-- Time Log Table -->
    <dynamic-frame :url="/frames/time-log-table"></dynamic-frame>

{% endblock content %}
