{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="col-xl-5">
            <form class="border p-5" method="post">
                <div class="mb-3">
                    <label for="userEmail" class="form-label">Email Address</label>
                    <input type="email"
                           class="form-control"
                           id="userEmail"
                           name="email"
                           required
                           aria-describedby="emailHelp"/>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <label for="userPassword" class="form-label">Password</label>
                <div class="input-group mb-3">
                    <input type="password"
                           class="form-control"
                           id="userPassword"
                           name="password"/>
                    <button class="btn btn-outline-secondary" type="button" id="showPassword">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if mode == "/login" %}
                        <button type="submit" name="action" value="login" class="btn btn-primary text-nowrap">Log in</button>
                        <button type="submit"
                                class="btn btn-link pe-0"
                                name="action"
                                value="forgot-password">Forgot password</button>
                    {% else %}
                        <button type="submit" name="action" value="register" class="btn btn-primary">Register</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const showPasswordBtn = document.getElementById("showPassword");

            showPasswordBtn.addEventListener("click", e => {
                e.preventDefault();

                let password = document.querySelector("#userPassword");
                if (password.type === "password") {
                    password.type = "text";
                    showPasswordBtn.innerHTML = "<i class='bi bi-eye-slash'></i>";
                } else {
                    password.type = "password";
                    showPasswordBtn.innerHTML = "<i class='bi bi-eye-fill'></i>";
                }
            });
        });
    </script>
{% endblock content %}
