{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <h3 class="mb-3">Privacy Policy</h3>

    <h5>Data We Collect</h5>
    <p>
        We collect the following data when you use LogMyTime:
    </p>
    <ul>
        <li>Your email address</li>
        <li>Your IP address</li>
        <li>The time, holiday and sickness data you log</li>
        <li>Your holiday location</li>
    </ul>

    <hr />

    <h5>How We Use Your Data</h5>
    <p>
        We do nothing with this data outwith the scope of the LogMyTime application.<br />
        Your data is not sold or shared with anyone.
    </p>

    <hr />

    <h5>How We Protect Your Data</h5>
    <p>
        We take reasonable steps to protect your data, including:
    </p>
    <ul>
        <li>Encrypting your data</li>
        <li>Storing your data in a secure location</li>
        <li>Using secure connections to transmit your data</li>
        <li>Limiting access to your data</li>
    </ul>

    <hr />

    <h5>Deleting Your Data</h5>
    <p>
        You can delete your data any time by navigating to the <a href="/settings/account">Account Settings</a> and clicking the "Delete Account" button.
    </p>

    <hr />

    <h5>Contacting Us</h5>
    <p>
        If you have any questions or concerns about our privacy policy, please contact us at <a href="mailto:logmytime@mail.danstewart.dev">logmytime@mail.danstewart.dev</a>.
    </p>
{% endblock content %}
