{% extends 'layouts/wrapper.html.j2' %}

{% block content %}
    <form method="post" action="/settings">
        <div class="mb-3">
            <div class="mb-2">
                <label class="form-label">Time Zone</label>
                <input class="form-control" type="text" name="timezone" id="timezone" value="{{ settings.timezone }}" required>
            </div>
            <div class="mb-2">
                <label class="form-label">Week Start</label>
                <select class="form-select" name="week_start" id="week_start" value="{{ settings.week_start }}" required>
                    {% set days = [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday' ] %}
                    {% for day in days %}
                        <option value="{{ loop.index }}" {% if loop.index == settings.week_start %}selected{% endif %}>{{ day }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Hours Per Day</label>
                <input class="form-control" type="text" name="hours_per_day" id="hours_per_day" value="{{ settings.hours_per_day }}" required>
            </div>
            <div class="mb-2">
                <label class="form-label">Days Per Week</label>
                <input class="form-control" type="number" name="days_per_week" id="days_per_week" value="{{ settings.days_per_week }}" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock content %}

