{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <div class="row">
        <div class="col-2 mt-1 pe-5">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link{% if page == 'general' %} active{% endif %}"
                   aria-current="page"
                   href="/settings/general">General</a>
                <a class="nav-link{% if page == 'account' %} active{% endif %}"
                   href="/settings/account">Account</a>
            </nav>
        </div>
        <div class="col">{% include "partials/settings/" + page + ".html.j2" %}</div>
    </div>
{% endblock content %}
