{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <h1 class="mb-3">What's New</h1>

    {% if whats_new %}
        {% for new in whats_new %}
            <div class="{{ 'mb-1' if loop.last else 'mb-4' }}">
                {% set created_at = arrow.get(new.created_at).to(settings.timezone) %}

                <div class="d-flex align-items-end mb-2">
                    <h4 class="me-2 mb-0">{{ new.title }}</h4>
                    <small class="text-secondary">{{ created_at.format("MMMM Do YYYY") }}</small>
                </div>
                <p class="mb-0">{{ new.content.replace("\n", "<br />") }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Nothing to see here...</p>
    {% endif %}
{% endblock content %}
