<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js" integrity="sha256-t5cAXPIzePs4RIuA3FejMxOlxXe4QXZXQ7sfKJxNU+Y=" crossorigin="anonymous"></script>

<style>
    div.ts-control > div {
        color: #d3d8dc;
    }

    div.ts-control > input {
        color: #d3d8dc;
    }

    div.ts-dropdown > div {
        color: #d3d8dc;
    }
</style>
