/* Core styles */
#header a {
    text-decoration: none;
    color: black;
}

#header a:hover {
    color: #0d6efd;
    text-decoration: none;
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

/*
Show menu to the left of the toggle
This stops the menu going off screen on smaller screens
*/
#menu .dropdown-menu {
    left: calc(0vw - 120px);
}

a.icon > i {
    font-size: 24px;
}

a.icon {
    align-items: center;
    display: flex;
}

/* Custom classes */
.edit-time-entry {
    cursor: pointer;
    color: #0d6efd;
}

.time-badge {
    height: 20px;
    width: 60px;
}

.notification-badge {
    position: absolute;
    top: 3px;
    left: 1.8rem;
    border-radius: 50%;
    padding: 0.25rem;
    transform: translate(-50%, -50%);
}

/* Bootstrap overrides */
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    content: none;
}

.dropdown-item:active {
    background-color: #e9ecef;
}

/* Border radius fixes */
/* This might be a little flaky */
/* Flatpickr hides the element it mounts and inserts the real picker after it  */
/* Most of the time if we have a flatpickr in an input-group it's the first item */
/* So should have a border radius */
.input-group > :first-child:not(input[type="checkbox"]),
.input-group > .flatpickr {
    border-top-left-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
}

.input-group > *:last-child:not(input[type="checkbox"]) {
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}

/* Debug bar */
.debug-bar {
    width: 100vw;
    height: 25px;
    background-color: rebeccapurple;
    text-align: center;
    color: white;
    font-weight: bold;
}
