{#
Account exists but re-registered email
Expected replacers:
- password_reset_url: Absolute password reset URL with token
#}
{% extends "layouts/email_wrapper.html.j2" %}
{% block content %}
    <span class="preheader">Welcome to LogMyTime.</span>
    <table role="presentation" class="main">
        <tr>
            <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p>👋 Welcome back to LogMyTime.</p>
                            <p>You tried to register but you already have an account.</p>
                            <p>If you've forgotten your password click the button below to reset it.</p>
                            <table role="presentation"
                                   border="0"
                                   cellpadding="0"
                                   cellspacing="0"
                                   class="btn btn-primary">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ password_reset_url }}" target="_blank">Reset Password</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock content %}
{% block footer %}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">Didn't sign up?
                    <br />
                Just ignore this email and we'll delete your account after 7 days.</span>
            </td>
        </tr>
    </table>
{% endblock footer %}
