{#
Welcome and verify email
Expected replacers:
- verify_url: Absolute email verification URL with token
#}
{% extends "layouts/email_wrapper.html.j2" %}
{% block content %}
    <span class="preheader">Email change for LogMyTime.</span>
    <table role="presentation" class="main">
        <tr>
            <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p>👋 You requested an email change for LogMytime.</p>
                            <p>
                                This email already has an assosciated account, if you've forgotten your password you can reset it by clicking below.
                            </p>
                            <p>If you did not request this change you can safely ignore this email.</p>

                            <table role="presentation"
                                   border="0"
                                   cellpadding="0"
                                   cellspacing="0"
                                   class="btn btn-primary">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ password_reset_url }}" target="_blank">Reset Password</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock content %}
{% block footer %}
{% endblock footer %}
