{#
Welcome and verify email
Expected replacers:
- verify_url: Absolute email verification URL with token
#}
{% extends "layouts/email_wrapper.html.j2" %}
{% block content %}
    <span class="preheader">Welcome to LogMyTime.</span>
    <table role="presentation" class="main">
        <tr>
            <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p>👋 Welcome to LogMyTime.</p>
                            <p>Click the link below to verify your email and get started.</p>
                            <p>If you don't verify within 7 days we'll delete your email address from our system (you can always re-register though).</p>
                            <table role="presentation"
                                   border="0"
                                   cellpadding="0"
                                   cellspacing="0"
                                   class="btn btn-primary">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ verify_url }}" target="_blank">Verify</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock content %}
{% block footer %}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">Didn't sign up?
                    <br />
                Just ignore this email and we'll delete your account after 7 days.</span>
            </td>
        </tr>
    </table>
{% endblock footer %}
