<h4>Previous Holidays</h4>
<ul>
    {% for dt, name in previous_holidays.items() %}
        <li>{{ name }} <small>({{ dt }})</small></li>
    {% endfor %}
</ul>

<frame-meta data-name="{{ page }}" />
