<form method="post" action="/time/add" data-controller="form-switcher">
    <div class="row mb-3">
        <div class="col-md-4">
            <label class="form-label">Time</label>
            <input class="form-control" type="text" name="time" id="form-time" type="time" required>
        </div>
    </div>

    {% if clocked_in %}
        <button class="btn btn-primary" name="clock" value="out" type="submit">Clock Out</button>
    {% else %}
        <button class="btn btn-primary" name="clock" value="in" type="submit">Clock In</button>
    {% endif %}
</form>
